<div style="display: flex; flex-direction:column; align-items: center">
<img src="https://hstp-events.com/templates/jl_balder_pro/custom/images/logo.png"/>

<h2>{{NAME}}</h2>
<p>{{INTRO}}</p>
<h1 style="color: #66c;">{{HEADING}}</h1>
<p>{{INFO}}</p>

<div>
  <span>
    {{TIME}}
  </span>
  <span>
    {{DATE}}
  </span>
  <span>
    {{LOCATION}}
  </span>
</div>
 <p>{{CONFIRM_MESSAGE}}</p>
 <a style="margin-top: 1rem;padding:1rem 2rem;background-color:#66c;border-radius:10px;color:white" href="{{LINK}}">{{LINK_CONTENT}}</a>

  
<p style="width: 100%;background-color:#66c;color:white;padding: 3rem;text-align: center">{{BEST_REGARDS}}</p>

</div>

